@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

li {
  list-style: none;
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
   gap: 4rem;
}


img{
    object-fit:contain;
}

.containerP{
    outline: 1px solid red;
     max-width: 60vw;
     margin: 0 auto;
 }