@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

li {
  list-style: none;
  font-family: Roboto, sans-serif;
  font-size: 15px;
}



.container-products{

  border: 3px solid rgb(219, 216, 216);
  padding: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.container-img{

  display: flex;
  justify-content: center; 
  align-items: center;

}

.products {
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr) );
   gap: 1rem;
}






img{
    object-fit: contain;
}

.containerP{

     max-width: 60vw;
     margin: 0 auto;
 }

 .title-products{

  font-family: Roboto, sans-serif;
  font-size: 0.8rem;
  text-align: center;
 }

 .price-products{
  outline: 1px solid red;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;  
}