/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */


.modalCarrito{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 1;
}

.active{
    visibility: visible;
}

.no-active{
    visibility: hidden;
    transition: 0.4s;
}

.containerTitulo{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.closeMo{
font-size: 1.3rem;
cursor: pointer;
}

.closeMo:hover{

    border: 2px solid rgba(0, 0, 0, 0.273);
    transform: scale(1.20);
    transition: 0.2s ease-in-out;
}

.tituloCarrito{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;



}



.modalContainer{
    width:25%;
    height: 99vh;
    background-color: white;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
   
 


}

.slide-in{
   
    animation-name: transicion;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes transicion{
    from{
        opacity: 0;
        transform: translatex(50%);
    }
    to{
        opacity: 1;
        transform: translatex(0%);
    }
}

.slide-out{
   
    animation-name: transicion2;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes transicion2{
    from{
        opacity: 1;
        transform: translatex(0%);
    }
    to{
        opacity: 0;
        transform: translatex(100%);
    }
}




.productosCarrito{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.totalCarrito{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    height: 50px;
    background-color: black;
    color: white;
}

.vaciarCarrito{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    height: 50px;
    background-color: black;
    color: white;
}


.deleteProduct{
    cursor: pointer;
}

.deleteProduct:hover{
    cursor: pointer;
    color: brown;
}

.carVacio{
    text-align: center;
}

