@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



.containerPrincipal{
    /* outline: 1px solid red; */
    max-width: 60vw;
    margin: 0 auto;

}

.container{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navMenu{
    display: flex;
    width: 20%;
    justify-content: space-between; 
    font-size: 1rem;   
}

.navMenu-op:hover{
    color: #355E9E;
    font-weight: bold;
    cursor: pointer;
    
}

.navLogo{
    font-size: 1.5rem;
    color: #355E9E;
}

.navSearch{
    color: #355E9E;
    font-weight: 500;
}