@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



.containerPrincipal{
    /* outline: 1px solid red; */
    max-width: 60vw;
    margin: 0 auto;

}

.container{
   margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navMenu{
    display: flex;
    width: 20%;
    justify-content: space-between; 
    font-size: 1rem;   

}


.navMenu a{
    text-decoration: none;
    color: #355E9E;
}

.navMenu-op:hover{
    color: #355E9E;
    font-weight: bold;
    cursor: pointer;
    
}

.navLogo{
    font-size: 1.5rem;
    color: #355E9E;
}

.navSearch{
    outline: 2px solid rgb(107, 105, 105);
    width: 180px;
    height: 25px;
    color: #355E9E;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(00,0,0,0.05);
    padding-left: 5px;

}

.navSearch input{
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 5px;

}