@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1.,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

.contenedor-slider{
    padding: 0 20px;
    width: 60%;
    height: 420px;
    margin: 40px auto;
     background-color: rgb(238, 238, 238);
     display: flex;
     justify-content: center;
     align-items: center;
}

.contenedor-zapatos{

 }


.contenedor-img-zapatos{
    /* outline: 1px solid red; */
    position: relative;
    overflow: hidden;
   
} 


.imgZapatos{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
    padding: 0 5px;
    
 
}




/* .imgZapatos:hover{
    transform: scale(1.15);
    transition: 0.3s ease-in-out;
    cursor: pointer;
   
} */

.cajaColor{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(25, 26, 26, 0.459);
    width: 100%;
    height: 100%;
    padding: 0 5px;
    transform: translatey(-100%);
    transition: transform 0.3s;


}

.contenedor-img-zapatos:hover .cajaColor{
    transform: translatey(0%);
}

.contenedor-img-zapatos:hover .imgZapatos{
    transform: scale(1.20);
    transition: 0.7s ease-in-out;
}

.slick-next:before, .slick-prev:before {
    color: #fff;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: rgb(25, 195, 201);
}

.contenedor-texto{
    /* outline: 1px solid orange; */
    text-align: center;
    font-size: 1.2rem;
}

.cajaColor button{
    width: 180px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    font-family: Poppins, sans-serif;
    font-size: 0.8rem;
    font-weight:600;
    cursor: pointer;
}

.cajaColor button:hover{
    background-color:rgb(54, 54, 54);
    color: #fff;
    transition: 0.3s ease-in-out;
}
