.contenedor-slider{
    padding: 0 20px;
    width: 60%;
    height: 500px;
    margin: 40px auto;
     background-color: rgb(238, 238, 238);
     display: flex;
     justify-content: center;
     align-items: center;
}




/* .contenedor-img-zapatos{
     outline: 2px solid rgb(18, 204, 126);
     width: 95%;

}  */


.imgZapatos{
    /* outline: 2px solid rgb(175, 173, 173); */
     height: 100%;
    width: 95%;
    background-color: #ffffff;
    font-size: 4rem;
}

.imgZapatos:hover{
    transform: scale(1.15);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}


.slick-next:before, .slick-prev:before {
    color: #fff;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: rgb(25, 195, 201);
}

.contenedor-texto{
    /* outline: 1px solid orange; */
    text-align: center;
    font-size: 1.2rem;
}